<% @restaurantes.each do |restaurante| %>

  <div class="card" style="width: 60rem; margin: 20px auto;">
    <div class="card-body">
      <h4 class="card-title">  <%= restaurante.nome_fantasia %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= restaurante.tipo_comida %></h6>
      <p class="card-text">Horário de funcionamento: <%= restaurante.horario %>.</p>
    </div>
  </div>

<% end %>

<%= link_to new_restaurante_path do %>
  <button type="button" class="btn btn-danger">Novo</button>
<% end %>
