<% @restaurantes.each do |restaurante| %>

  <div class="card" style="width: 60rem; margin: 20px auto;">
    <div class="card-body">
      <h4 class="card-title">  <%= restaurante.nome_fantasia %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= restaurante.tipo_comida %></h6>
      <p class="card-text">Horário de funcionamento: <%= restaurante.horario %>.</p>
      <a href="#" class="card-link"><%= link_to('Cardápio', restaurante_pratos_path(restaurante) ) %></a>
    </div>
  </div>

<% end %>
