<section id="credit-card-fields" class="d-none">
  <div class="field">
    <label>Número</label>
    <input type="text" name="credit-card[numero]" id="credit-card-number" />
  </div>

  <div class="field">
    <label>Titular</label>
    <input type="text" name="credit-card[nome_titular]" id="credit-card-name" />
  </div>

  <div class="field">
    <label>Data de vencimento</label>
    <input type="text" name="credit-card[validade]" id="credit-card-validate" />
  </div>
</section>
