<h1>Realizar Pedido</h1>

<%= render 'form', pedido: @pedido %>

<%= link_to restaurantes_path do %>
  <button type="button" class="btn btn-danger">Voltar para a lista de restaurantes</button>
<% end %>
